           <md-card>
        <img ng-src="/images/banner_bg_hands_large.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Tutorial | Employee Self Service Portal</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          
          <h3>Video Resource</h3>

          <iframe width="100%" height="400" src="https://www.youtube.com/embed/E5ln4uR4TwQ" frameborder="0" allowfullscreen></iframe>

          <h3>More Resources</h3>

          <ul>
            <li><a href="http://google.com" target="_blank">Resource 1</a></li>
            <li><a href="http://google.com" target="_blank">Resource 2</a></li>
            <li><a href="http://google.com" target="_blank">Resource 3</a></li>
            <li><a href="http://google.com" target="_blank">Resource 4</a></li>
          </ul>

  
    </md-content>



        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
           <md-button onClick="$('#help-bar').trigger('click');" class="md-raised md-primary">Help</md-button>
        </md-card-actions>
      </md-card> 
           