           <md-card>
        <img ng-src="/images/banner_bg_hands_large.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Employee Details | Employee Self Service Portal</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          

            <div layout="row" layout-sm="column">
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>First Name</label>
            <input value="John" readonly>
          </md-input-container>

            </div>
            
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Last Name</label>
            <input value="Doe" readonly>
          </md-input-container>

            </div>
      </div>

  
  <h4>Personal Details</h4>          

            <div layout="row" layout-sm="column">
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Bitrh Date</label>
            <input value="03/05/1982" readonly>
          </md-input-container>

            </div>
            
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Age</label>
            <input value="47" readonly>
          </md-input-container>

            </div>
      </div>
               
                  <div layout="row" layout-sm="column">
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Marital Status</label>
            <input value="M" readonly>
          </md-input-container>

            </div>
            
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>UserID</label>
            <input value="USERID01" readonly>
          </md-input-container>

            </div>
      </div>

<h3>Resident Address</h3>
   <div layout="row" layout-sm="column">
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Address Line 1</label>
            <input value="5555 Park City" readonly>
          </md-input-container>

            </div>
            
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Address Line 2</label>
            <input value="" readonly>
          </md-input-container>

            </div>
      </div>

   <div layout="row" layout-sm="column">
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>City</label>
            <input value="Noida" readonly>
          </md-input-container>

            </div>
            
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>State</label>
            <input value="Uttar Pradesh" readonly>
          </md-input-container>

            </div>
      </div>


   <div layout="row" layout-sm="column">
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Zip</label>
            <input value="201307" readonly>
          </md-input-container>

            </div>
            
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Phone</label>
            <input value="+91-999-9999-999" readonly>
          </md-input-container>

            </div>
      </div>

   <div layout="row" layout-sm="column">
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input value="example@gmail.com" readonly>
          </md-input-container>

            </div>
            
            <div flex-gt-sm="50" flex="100">
              
              <md-input-container class="md-block" flex-gt-xs>
            <label>Work Email</label>
            <input value="work@gmail.com" readonly>
          </md-input-container>

            </div>
      </div>




    
        </md-content>



        </md-card-content>
      </md-card> 
           

      