 
           <md-card>
        <img ng-src="/images/banner_bg_hands_large.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{title}} | Employee Self Service Portal</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum corporis aperiam officiis hic, sint impedit et. Eum, incidunt, quas corporis magnam unde assumenda accusantium neque blanditiis repellat voluptatibus cum ab.</span>
            <span>Repudiandae dolor consequuntur illo facere sequi non modi error, beatae perspiciatis accusantium. Placeat magnam sequi alias similique illum laudantium cupiditate inventore quaerat architecto impedit accusantium iste, laboriosam minima enim quas.</span>
            <span>Reprehenderit nostrum, velit obcaecati asperiores vel voluptates blanditiis eius nihil ad quo delectus fuga, minima accusantium quasi tempore provident hic at optio error recusandae alias eum, assumenda maxime explicabo praesentium.</span>
            <span>Doloribus aspernatur nam asperiores quam accusamus autem dolores distinctio inventore reprehenderit doloremque sed voluptates dolore dolorem veniam odio debitis itaque enim, repellendus hic et, fuga aperiam! Impedit, autem magni mollitia.</span>
            <span>Odio quidem nam itaque fugiat reiciendis, eligendi voluptatum sequi asperiores optio? Autem, esse, eum. Doloremque vitae reprehenderit corrupti repellat rem sequi ducimus incidunt omnis laudantium animi, deleniti soluta error culpa.</span>)
          </p>

  
    </md-content>



        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
           <md-button onClick="$('#help-bar').trigger('click');" class="md-raised md-primary">Help</md-button>
        </md-card-actions>
      </md-card> 
           