 
           <md-card>
        <img ng-src="/images/banner_bg_hands_large.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{title}} | Employee Self Service Portal</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
        

            <div layout="column" layout-gt-sm="row">
                
                <div flex="100" flex-gt-sm="50">
              


                  <md-card>
        <img ng-src="/images/Summer-Holidays.jpg" class="md-card-image" alt="Traveling Policy">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Travel Allowances</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla velit ut illo molestias doloribus excepturi sunt tenetur quis tempore, ratione odio fugit consectetur error nostrum dolorum maxime hic voluptatem quaerat!
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/resource1" class="md-primary md-raised">View Details</md-button>
        </md-card-actions>
      </md-card>



                </div>

                <div flex="100" flex-gt-sm="50">
              


                  <md-card>
        <img ng-src="/images/work-desk-and-amenities.jpg" class="md-card-image" alt="Work Culture">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Work Culture</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
         Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla velit ut illo molestias doloribus excepturi sunt tenetur quis tempore, ratione odio fugit consectetur error nostrum dolorum maxime hic voluptatem quaerat!
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/resource2" class="md-primary md-raised">View Details</md-button>
        </md-card-actions>
      </md-card>



                </div>

            </div>
          
  
        </md-content>



        </md-card-content>
        
      </md-card> 
           