 
           <md-card>
        <img ng-src="/images/banner_bg_hands_large.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{title}} | Employee Self Service Portal</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          
          
          <h3>Details Regarding Travel Allowances</h3>

          <p>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis dicta doloremque excepturi, error repellendus assumenda accusantium minima voluptatum tempora aspernatur eligendi harum sunt, eum tenetur optio a labore iste ipsum.</span>
            <span>Est maiores quidem vitae fuga vel, animi enim nisi optio. Nisi explicabo mollitia expedita praesentium illo libero vitae possimus eius eveniet! Iste repellendus quasi aliquid itaque officia, quia voluptates blanditiis.</span>
            <span>Tempora ipsa cum temporibus omnis maxime corporis eligendi consectetur aliquid quo excepturi ullam, eum molestias sequi quisquam odio nisi provident, optio id voluptates maiores aperiam qui iste accusantium est eaque.</span>
            <span>Labore amet officiis, nulla, accusamus minima beatae tempore sapiente repellat id. Dolorum suscipit consectetur mollitia dolor, magni enim rem, eveniet quo aliquid, facere sit sapiente vel ipsa accusamus, dolorem earum.</span>
            <span>Perspiciatis dolor quisquam odit debitis adipisci veritatis nostrum soluta. Totam natus neque animi nostrum iusto, assumenda fuga perspiciatis labore tempora dolorem asperiores, ab earum, ullam corporis sequi minus officia deleniti?</span>
          </p>

          <p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim blanditiis similique harum quos provident neque eos nihil nulla officiis aliquid doloremque illum voluptates voluptatem minima velit nobis, sapiente incidunt tenetur.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi nesciunt natus accusamus eius ad placeat, sed praesentium, facilis cumque dolor ipsa minima sunt consectetur fuga. Earum qui, rerum assumenda ut!</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fugiat odit, quis deleniti nulla architecto deserunt officiis cum eveniet laudantium ex perferendis incidunt ea. Ipsum pariatur doloribus distinctio eum, quis.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum fugit quidem impedit quasi, vel vitae ex explicabo magnam. Ipsa nesciunt voluptas consequuntur laborum facilis eaque ad porro itaque voluptates neque?</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit eum quo autem nisi commodi. Aspernatur modi, eligendi. Optio eveniet, ipsam asperiores quo, rem minus ratione officia numquam reiciendis laudantium accusantium?</li>
            </ul>
          </p>

          <p>
            <h4>More Links</h4>


          <ul>
            <li><a href="http://google.com" target="_blank">Resource 1</a></li>
            <li><a href="http://google.com" target="_blank">Resource 2</a></li>
            <li><a href="http://google.com" target="_blank">Resource 3</a></li>
            <li><a href="http://google.com" target="_blank">Resource 4</a></li>
          </ul>


          </p>
  
        </md-content>



        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
           <md-button onClick="$('#help-bar').trigger('click');" class="md-raised md-primary">Help</md-button>
        </md-card-actions>
      </md-card> 
           